

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* shared style */
.text-primary{
    color: #E6533C;
}
.dark-2{
color: #FFFFFF;
}
.btn-primary{
    background-color: #E6533C;
    font-weight: 800;
    color: #FFFFFF;
    padding: 4px 20px;
    border-radius: 46px;
}
.text-center{
    text-align: center;
}
/* nav-styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 57px 190px;
}
.nav-title{
    font-weight: 800;
    font-size: 36px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 48px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
}
.header{
    background-color: #111111;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 76px 0 190px;
}
.banner-content{
    max-width: 599px;
}
.banner-title{
    font-weight: mixed;
    font-size: 78px;
    color: #FFFFFF;
}
.banner-description, .skills-container{
    color: #FFFFFF;
}
.banner-profile-picture{
    width: 520px;
}
/* main section style */
.main-section{
    margin-bottom: 130px;
}
/* skills section styles */
.skills-container{
    display: flex;
    gap: 40px;
    text-align: center;
    background-color: #111111;
}
.skill{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 8px 48px 0px rgba(0, 0, 0, 1);
}